openapi: 3.1.0
info:
  title: Archipelago WebSocket Connector API
  description: |
    API for archipelago WebSocket connector service implementing the WebSocket protocol for real-time communication in the Archipelago system.
    
    This service manages WebSocket connections for peers in the Archipelago protocol, enabling real-time position updates, profile changes, chat messages, and island assignments. The WebSocket protocol implements a handshake-based authentication system using Ethereum signatures for secure peer identification.
    
    **Key Features:**
    - **Authentication**: Challenge-response handshake using Ethereum signatures and AuthChain
    - **Position updates**: Real-time avatar position and movement synchronization
    - **Profile events**: User profile change notifications
    - **Chat messages**: Text chat with nearby peers
    - **Island assignments**: Dynamic island assignment notifications as users move
    
    The service integrates with the Archipelago core service to receive island assignments and forward island change notifications to connected peers. It maintains a registry of connected peers and manages the lifecycle of WebSocket connections.
    
    See [ADR-204](https://adr.decentraland.org/adr/ADR-204) for detailed protocol specifications.
  version: 1.0.0
  contact:
    name: Decentraland
    url: https://decentraland.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-api-id: archipelago-ws-connector-api
servers:
  - url: https://archipelago-ea-ws-connector.decentraland.org
    description: WebSocket Connector service - Production
  - url: https://archipelago-ea-ws-connector.zone
    description: WebSocket Connector service - Development
security: []
paths:
  /status:
    get:
      tags:
        - WebSocket Connector Service
      summary: Get service status
      description: Returns service status with version, commit hash, current time, and user count
      operationId: getStatus
      security: []
      responses:
        '200':
          description: Service status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics:
    get:
      tags:
        - WebSocket Connector Service
      summary: Get Prometheus metrics
      description: Returns Prometheus metrics for monitoring
      operationId: getMetrics
      security: []
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/live:
    get:
      tags:
        - WebSocket Connector Service
      summary: Liveness probe
      description: Returns 'alive' for liveness checks
      operationId: getLiveness
      security: []
      responses:
        '200':
          description: Service is alive
          content:
            text/plain:
              schema:
                type: string
                example: alive
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ws:
    get:
      tags:
        - WebSocket Connector Service
      summary: WebSocket connection
      description: |
        Establishes a WebSocket connection for real-time communication in the Archipelago system. This endpoint enables peer-to-peer communication, position synchronization, and island management for Decentraland clients.
        
        **Authentication Flow:**
        1. Client initiates connection with an Ethereum address
        2. Server responds with a challenge string to sign
        3. Client sends signed challenge with AuthChain
        4. Server validates signature and assigns peer ID
        
        **Supported Message Types:**
        - `challengeRequest`: Initial connection with address
        - `challengeResponse`: Server-provided challenge
        - `signedChallenge`: Client-provided signed challenge with AuthChain
        - `welcome`: Server confirmation with assigned peer ID
        - `heartbeat`: Keep-alive messages
        - `kicked`: Disconnection notification
        
        Once authenticated, the peer receives real-time updates about island assignments, nearby peers, and position changes as they move through Decentraland's metaverse.
      operationId: connectWebSocket
      security: []
      responses:
        '200':
          description: WebSocket connection established
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: connected
        '101':
          description: Switching protocols to WebSocket
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-websocket:
        description: WebSocket protocol for real-time communication
        protocol: archipelago-websocket
        handshake:
          description: Authentication handshake process
          steps:
            - step: 1
              name: HANDSHAKE_START
              description: Client sends challenge request with Ethereum address
              message:
                type: object
                properties:
                  type:
                    type: string
                    enum: [challengeRequest]
                  address:
                    type: string
                    description: Ethereum address
            - step: 2
              name: HANDSHAKE_CHALLENGE_SENT
              description: Server responds with challenge response
              message:
                type: object
                properties:
                  type:
                    type: string
                    enum: [challengeResponse]
                  challenge:
                    type: string
                    description: Challenge string to sign
            - step: 3
              name: HANDSHAKE_CHALLENGE_SENT
              description: Client sends signed challenge
              message:
                type: object
                properties:
                  type:
                    type: string
                    enum: [signedChallenge]
                  authChain:
                    type: array
                    description: AuthChain with signature
            - step: 4
              name: HANDSHAKE_COMPLETED
              description: Server validates and sends welcome message
              message:
                type: object
                properties:
                  type:
                    type: string
                    enum: [welcome]
                  peerId:
                    type: string
                    description: Assigned peer ID
        messages:
          client:
            challengeRequest:
              type: object
              properties:
                type:
                  type: string
                  enum: [challengeRequest]
                address:
                  type: string
                  description: Ethereum address
            signedChallenge:
              type: object
              properties:
                type:
                  type: string
                  enum: [signedChallenge]
                authChain:
                  type: array
                  description: AuthChain with signature
            heartbeat:
              type: object
              properties:
                type:
                  type: string
                  enum: [heartbeat]
          server:
            challengeResponse:
              type: object
              properties:
                type:
                  type: string
                  enum: [challengeResponse]
                challenge:
                  type: string
                  description: Challenge string to sign
            welcome:
              type: object
              properties:
                type:
                  type: string
                  enum: [welcome]
                peerId:
                  type: string
                  description: Assigned peer ID
            kicked:
              type: object
              properties:
                type:
                  type: string
                  enum: [kicked]
                reason:
                  type: string
                  enum: [KR_NEW_SESSION]
                  description: Kick reason
        authentication:
          type: ethereum-signature
          description: Ethereum signature validation via AuthChain
components:
  schemas:
    Status:
      type: object
      properties:
        version:
          type: string
          description: Service version
        commitHash:
          type: string
          description: Git commit hash
        currentTime:
          type: string
          format: date-time
          description: Current server time
        userCount:
          type: number
          description: Number of connected users
      required:
        - version
        - commitHash
        - currentTime
        - userCount
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: integer
          description: Error code
      required:
        - error
