openapi: 3.1.0
info:
  title: Archipelago Stats API
  description: |
    ## Overview
    
    The Archipelago Stats API provides real-time visibility into the Decentraland communication system by aggregating peer heartbeats and the cluster topology published by Pulse. This API enables monitoring, debugging, and analytics of user distribution, island clustering, and system health across the metaverse.
    
    ### Purpose
    
    This service acts as an observability layer for the Archipelago protocol, transforming internal system state into queryable metrics and snapshots. It is designed for:
    
    - **Monitoring**: Track system health, user activity, and island distribution in real-time
    - **Analytics**: Analyze crowd patterns, popular areas, and user movement across parcels
    - **Debugging**: Inspect individual peer states, island configurations, and service availability
    - **Visualization**: Power dashboards and tools that display live metaverse activity
    
    ### Key Concepts
    
    **Parcels** represent geographic coordinates in Decentraland's 2D grid system. Each parcel has an X/Y coordinate, and the API provides peer density information per parcel, enabling identification of crowded areas and popular destinations.
    
    **Peers** are individual users/avatars currently active in the Archipelago system. Each peer entry includes their unique identifier, Ethereum address, real-time position coordinates (X, Y, Z), assigned island, and last heartbeat timestamp. This enables tracking of individual users and their current state in the system.
    
    **Islands** are dynamic clusters of peers that are continuously recalculated based on user positions. They group nearby users together to optimize message routing and rendering performance. Each island has center coordinates, a radius, and a list of all peers currently assigned to it. Island IDs read `C{n}` and `maxPeers` reads `0`: clusters are uncapped.

    ### How It Works

    Clustering is performed by **Pulse**, which publishes the topology this API serves. Pulse groups peers by adjacency over a 100-unit spatial grid, one realm at a time, with sticky cluster IDs and a dwell debounce so assignments do not flap. Clusters have no size limit — room capacity is handled downstream by comms-gatekeeper, which shards LiveKit rooms as needed.

    Until iteration 1 of the Archipelago ⇒ Pulse migration this was the `archipelago-core` service, which clustered by pairwise proximity with a 100-peer cap per island. That service has been removed.

    The Stats API continuously aggregates the published topology and provides it through REST endpoints with low latency, enabling real-time monitoring and analysis. Peer positions still come from client heartbeats.
    
    ### Data Freshness
    
    All data is provided in real-time and reflects the current state of the Archipelago system at the time of the API call. Island assignments, peer positions, and parcel densities are continuously updated as users move through the metaverse. The API does not provide historical data—each request returns the current snapshot of the system.
    
    ### Use Cases
    
    - **Live Dashboards**: Display real-time user distribution and popular areas
    - **System Monitoring**: Track service health, island counts, and user capacity
    - **Analytics Tools**: Analyze crowd patterns and identify trending scenes
    - **Developer Tools**: Debug communication issues and inspect peer connections
    - **Administrative Interfaces**: Monitor system load and user activity
    
    For detailed information about the Archipelago protocol architecture, see [ADR-204](https://adr.decentraland.org/adr/ADR-204).
  version: 1.0.0
  contact:
    name: Decentraland
    url: https://decentraland.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-api-id: archipelago-ea-stats-api
servers:
  - url: https://archipelago-ea-stats.decentraland.org
    description: Stats service - Production
  - url: https://archipelago-ea-stats.zone
    description: Stats service - Development
security: []
paths:
  /parcels:
    get:
      tags:
        - Stats Service
      summary: Get parcels with peer counts
      description: |
        Returns a list of parcels with their current peer density information. Parcels represent geographic coordinates in Decentraland, and this endpoint helps identify areas with high user concentration. The peer count for each parcel indicates how many users are currently present in that geographic area, enabling crowd visualization and hotspot detection.
      operationId: getParcels
      security: []
      responses:
        '200':
          description: List of parcels with peer counts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParcelResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /peers:
    get:
      tags:
        - Stats Service
      summary: Get all connected peers
      description: |
        Returns a list of all peers (users) currently active in the archipelago system. Each peer includes their unique identifier, Ethereum address, current position coordinates, assigned island, and last heartbeat timestamp. This endpoint provides a comprehensive view of all active users in the system at any given moment.
      operationId: getPeers
      security: []
      responses:
        '200':
          description: List of connected peers
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Success status
                  peers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Peer'
                    description: List of peers
                required:
                  - ok
                  - peers
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /peers/{id}:
    get:
      tags:
        - Stats Service
      summary: Get specific peer information
      description: Returns information about a specific peer
      operationId: getPeer
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Peer ID
      responses:
        '200':
          description: Peer information
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Success status
                  peer:
                    $ref: '#/components/schemas/Peer'
                    description: Peer information
                required:
                  - ok
                  - peer
        '404':
          description: Peer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Success status
                  peer:
                    oneOf:
                      - type: object
                      - type: 'null'
                    description: Peer information (null when not found)
                required:
                  - ok
                  - peer
  /islands:
    get:
      tags:
        - Stats Service
      summary: Get all islands
      description: |
        Returns a list of all active islands in the archipelago system. Islands are dynamic clusters of peers, recalculated by Pulse as users move. Each entry includes the island identifier (`C{n}`), `maxPeers` (always 0 — clusters are uncapped), center coordinates (x, y, z), radius, and the list of peers assigned to it. The peer list is a join against heartbeat data, so a peer Pulse has assigned but which has not sent a heartbeat is omitted.
      operationId: getIslands
      security: []
      responses:
        '200':
          description: List of islands
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Success status
                  islands:
                    type: array
                    items:
                      $ref: '#/components/schemas/Island'
                    description: List of islands
                required:
                  - ok
                  - islands
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /islands/{id}:
    get:
      tags:
        - Stats Service
      summary: Get specific island information
      description: Returns information about a specific island
      operationId: getIsland
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Island ID
      responses:
        '200':
          description: Island information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Island'
        '404':
          description: Island not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code
                  body:
                    oneOf:
                      - type: object
                      - type: 'null'
                    description: Island information (null when not found)
                required:
                  - status
                  - body
  /hot-scenes:
    get:
      tags:
        - Stats Service
      summary: Get hot scenes data
      description: |
        Returns data about popular scenes (hot scenes) in Decentraland based on current user activity. This endpoint provides information about scenes that are currently attracting high user traffic, including scene metadata, user counts, geographic coordinates, thumbnails, and project details. Hot scenes help identify trending areas and popular destinations in the metaverse.
      operationId: getHotScenes
      security: []
      responses:
        '200':
          description: Hot scenes data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotScenes'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /core-status:
    get:
      tags:
        - Stats Service
      summary: Get clustering service status
      description: |
        Returns the operational status of whichever service publishes the `engine.discovery` heartbeat — the author of the peer clustering. Since iteration 1 of the Archipelago ⇒ Pulse migration that is Pulse, not the removed `archipelago-core` service; the response shape is unchanged. `healthy` is true when the last heartbeat is under 90 seconds old, and `userCount` is the count that publisher reported. The path keeps its name for URL compatibility.
      operationId: getCoreStatus
      security: []
      responses:
        '200':
          description: Core service status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreStatus'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /status:
    get:
      tags:
        - Stats Service
      summary: Get service health status
      description: Returns health status of the service
      operationId: getStatus
      security: []
      responses:
        '200':
          description: Service health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /comms/parcels:
    get:
      tags:
        - Stats Service
      deprecated: true
      summary: Get parcels (backwards compatibility)
      description: Backwards compatibility endpoint for parcels
      operationId: getCommsParcels
      security: []
      responses:
        '200':
          description: List of parcels with peer counts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParcelResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /comms/peers:
    get:
      tags:
        - Stats Service
      deprecated: true
      summary: Get peers (backwards compatibility)
      description: Backwards compatibility endpoint for peers
      operationId: getCommsPeers
      security: []
      responses:
        '200':
          description: List of connected peers
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Success status
                  peers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Peer'
                    description: List of peers
                required:
                  - ok
                  - peers
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /comms/peers/{id}:
    get:
      tags:
        - Stats Service
      deprecated: true
      summary: Get specific peer (backwards compatibility)
      description: Backwards compatibility endpoint for specific peer
      operationId: getCommsPeer
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Peer ID
      responses:
        '200':
          description: Peer information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peer'
        '404':
          description: Peer not found
  /comms/islands:
    get:
      tags:
        - Stats Service
      deprecated: true
      summary: Get islands (backwards compatibility)
      description: Backwards compatibility endpoint for islands
      operationId: getCommsIslands
      security: []
      responses:
        '200':
          description: List of islands
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Success status
                  islands:
                    type: array
                    items:
                      $ref: '#/components/schemas/Island'
                    description: List of islands
                required:
                  - ok
                  - islands
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /comms/islands/{id}:
    get:
      tags:
        - Stats Service
      deprecated: true
      summary: Get specific island (backwards compatibility)
      description: Backwards compatibility endpoint for specific island
      operationId: getCommsIsland
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Island ID
      responses:
        '200':
          description: Island information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Island'
        '404':
          description: Island not found
components:
  schemas:
    ParcelResult:
      type: object
      properties:
        peersCount:
          type: number
          description: Number of peers in this parcel
        parcel:
          $ref: '#/components/schemas/Parcel'
      required:
        - peersCount
        - parcel
    Parcel:
      type: object
      properties:
        x:
          type: number
          description: X coordinate
        y:
          type: number
          description: Y coordinate
      required:
        - x
        - y
    Peer:
      type: object
      properties:
        id:
          type: string
          description: Peer ID
        address:
          type: string
          description: Peer address
        lastPing:
          type: number
          description: Last ping timestamp
        parcel:
          type: array
          items:
            type: number
          description: Parcel coordinates [x, y]
        position:
          type: array
          items:
            type: number
          description: Position coordinates [x, y, z]
      required:
        - id
        - address
        - lastPing
        - parcel
        - position
    Island:
      type: object
      properties:
        id:
          type: string
          description: Island ID
        peers:
          type: array
          items:
            $ref: '#/components/schemas/Peer'
          description: List of peers in this island
        maxPeers:
          type: number
          description: >-
            Maximum number of peers allowed. Reads 0 since Pulse publishes the topology:
            clusters are uncapped (it read 100 while archipelago-core published this feed).
        center:
          type: array
          items:
            type: number
          description: Center coordinates [x, y, z]
        radius:
          type: number
          description: Island radius
      required:
        - id
        - peers
        - maxPeers
        - center
        - radius
    HotScenes:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            description: Scene ID
          name:
            type: string
            description: Scene name
          baseCoords:
            type: array
            items:
              type: number
            description: Base coordinates [x, y]
          usersTotalCount:
            type: number
            description: Total number of users in scene
          parcels:
            type: array
            items:
              type: array
              items:
                type: number
            description: List of parcel coordinates
          thumbnail:
            type: string
            description: Scene thumbnail URL
          projectId:
            type: string
            description: Project ID
          creator:
            type: string
            description: Creator name
          description:
            type: string
            description: Scene description
        required:
          - id
          - name
          - baseCoords
          - usersTotalCount
          - parcels
    CoreStatus:
      type: object
      properties:
        healthy:
          type: boolean
          description: >-
            True when the last `engine.discovery` heartbeat is under 90 seconds old. Published
            by Pulse since iteration 1 of the Archipelago migration.
        userCount:
          type: number
          description: >-
            Connected user count as reported by the last heartbeat. Retains the last value
            received, so it can be non-zero while `healthy` is false.
      required:
        - healthy
        - userCount
    Status:
      type: object
      properties:
        status:
          type: string
          description: Service health status
        timestamp:
          type: string
          format: date-time
          description: Status timestamp
      required:
        - status
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: integer
          description: Error code
      required:
        - error
