openapi: 3.1.0
info:
  title: Archipelago Workers API
  description: |
    ## Overview
    
    API documentation for the WebSocket Connector — the only service left in this repository and the only entry point Decentraland clients talk to. It implements the real-time communication layer of the Archipelago protocol.
    
    The Archipelago protocol clusters users into dynamic islands based on their positions, enabling efficient crowd management and scalable communication. Islands are recalculated in real-time as users move, allowing for optimal distribution of avatars and communication channels. Since iteration 1 of the Archipelago ⇒ Pulse migration the clustering is performed by **Pulse** and the islands it publishes are uncapped — comms-gatekeeper maps each island to a single LiveKit room verbatim, with no downstream sharding by design.

    **Key Concepts:**
    - **Islands**: Dynamic groups of users clustered by proximity, uncapped in size and identified as `C{n}`
    - **Peers**: Individual users/avatars in the Archipelago system
    - **Parcels**: Geographic coordinates in Decentraland where users are located
    - **Real-time updates**: Islands and peer positions are continuously recalculated
    
    ### The retired Stats API
    
    Iteration 2 removed the Archipelago Stats service from this repository, and its observability endpoints are served by other systems now:
    
    - `/realms*`, `/peers*`, `/comms/*`, `/parcels`, `/islands*`, `/status`, `/about`, `/health` — **Pulse** (`Pulse/docs/openapi.yaml`), which serves them realm-scoped and answers `308` from the legacy paths to `/realms/main/…`
    - `/hot-scenes`, `/scene-participants` — **comms-gatekeeper**; `realm-provider` proxies `/hot-scenes`
    - `/core-status` — retired outright
    
    `https://archipelago-ea-stats.decentraland.{org,zone}` still resolves: CloudFlare routes it to those origins. It is no longer a service in this repository, so it is not listed as a server below. See [stats-decommission-runbook.md](./stats-decommission-runbook.md).
    
    ### WebSocket Connector Service
    
    The **Archipelago WebSocket Connector API** provides real-time bidirectional communication for Decentraland clients through WebSocket connections. This service acts as the gateway between client applications and the Archipelago communication system.
    
    **Purpose**: Manages the connection layer for all peer-to-peer communication, enabling live position synchronization, chat messaging, profile updates, and island assignment notifications.
    
    **Key Features**:
    - **Authentication**: Ethereum signature-based challenge-response handshake
    - **Position Updates**: Real-time avatar position and movement synchronization
    - **Chat Messages**: Text communication between nearby users
    - **Island Assignments**: Dynamic notifications when users move between islands
    
    **Key Endpoints**: `/status`, `/metrics`, `/health/live`, `/ws` (WebSocket)
    
    **Use Cases**:
    - Client connections for Decentraland applications
    - Real-time multiplayer interactions
    - Social features and chat functionality
    - Scene integration for coordinated experiences
    
    For detailed information about the Archipelago protocol architecture, message formats, and communication patterns, see [ADR-204](https://adr.decentraland.org/adr/ADR-204).
  version: 1.0.0
  contact:
    name: Decentraland
    url: https://decentraland.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-api-id: archipelago-workers-api
servers:
  - url: https://archipelago-ea-ws-connector.decentraland.org
    description: WebSocket Connector service - Production
  - url: https://archipelago-ea-ws-connector.zone
    description: WebSocket Connector service - Development
paths:
  /status:
    $ref: './ws-connector/openapi.yaml#/paths/~1status'
  /metrics:
    $ref: './ws-connector/openapi.yaml#/paths/~1metrics'
  /health/live:
    $ref: './ws-connector/openapi.yaml#/paths/~1health~1live'
  /ws:
    $ref: './ws-connector/openapi.yaml#/paths/~1ws'
